.product-design-bg{
    background: url(https://www.peptidesciences.com/static/version1652429191/frontend/Mtn/bootstrap/en_US/images/catalog-card-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
}